# Classification of glasses using K nearest neighbours

In [15]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix,accuracy_score
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier

In [2]:
df1 = pd.read_csv('C:\\Users\\ADMIN11\\Desktop\csv\\Assignment 10-16\\Assignment 10\\trainKNN.csv')
df2 = pd.read_csv('C:\\Users\\ADMIN11\\Desktop\csv\\Assignment 10-16\\Assignment 10\\testKNN.csv')

In [3]:
df1.shape

(196, 11)

In [4]:
df1.describe()

,Id,Refractive Index,Na,Mg,Al,Si,K,Ca,Ba,Fe,Target
count,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000
mean,102.862245,1.518295,13.375204,2.758980,1.454337,72.635408,0.519388,8.910714,0.164235,0.050255,2.668367
std,61.195663,0.003055,0.783145,1.392641,0.491688,0.763578,0.672703,1.421490,0.485198,0.086359,2.062416
min,1.000000,1.511310,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,49.750000,1.516457,12.877500,2.362500,1.190000,72.317500,0.140000,8.220000,0.000000,0.000000,1.000000
50%,101.500000,1.517630,13.280000,3.480000,1.360000,72.810000,0.560000,8.575000,0.000000,0.000000,2.000000
75%,153.250000,1.518985,13.792500,3.610000,1.622500,73.080000,0.610000,9.092500,0.000000,0.090000,3.000000
max,211.000000,1.533930,15.790000,4.490000,3.500000,75.180000,6.210000,16.190000,3.150000,0.340000,7.000000

In [5]:
df2.shape

(18, 11)

In [6]:
x_train = df1.iloc[:,:-1].values
y_train = df1.iloc[:,-1].values

In [7]:
x_test = df2.iloc[:,:-1].values
y_test = df2.iloc[:,-1].values

scaler = StandardScaler()
x_train = scaler.fit(x_train)
x_test = scaler.fit_transform(x_test)

In [8]:
classifier = KNeighborsClassifier(n_neighbors=5,metric='minkowski', p=2)
classifier.fit(x_train,y_train)

KNeighborsClassifier()

In [9]:
y_pred = classifier.predict(x_test)

In [10]:
cm = confusion_matrix(y_test,y_pred)
ascore = accuracy_score(y_test,y_pred)
print(cm)
print(ascore)

[[2 1 0 0 0 0]
 [0 1 2 0 0 0]
 [0 0 3 0 0 0]
 [0 0 0 1 2 0]
 [0 0 0 0 2 1]
 [0 0 0 0 0 3]]
0.6666666666666666

# Classification using Ensemble technique

In [14]:
bag_clf = BaggingClassifier(KNeighborsClassifier(),n_estimators =500,n_jobs=-1,bootstrap=True,oob_score=True,max_features=0.7)
bag_clf.fit(x_train,y_train)
y_pred1 = bag_clf.predict(x_test)
print("Score using Ensemble Technique:",accuracy_score(y_test,y_pred1))

Score using Ensemble Technique: 0.7777777777777778